<h1>You are loged in</h1>

<p> <%= link_to "Deactivate Account","account/deactivate",method:"get" %> </p>
<div style="border:1px solid gainsboro;">
	<%= link_to "Register website","website/register",method:"get" %>
</div>